## Revising the Select Query 1
**Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [8]:
city.filter((col("COUNTRYCODE")=='USA') & (col("POPULATION")>100000)).show()

+----+-------------+-----------+----------+----------+
|  ID|         NAME|COUNTRYCODE|  DISTRICT|POPULATION|
+----+-------------+-----------+----------+----------+
|3815|      El Paso|        USA|     Texas|    563662|
|3878|   Scottsdale|        USA|   Arizona|    202705|
|3965|       Corona|        USA|California|    124966|
|3973|      Concord|        USA|California|    121780|
|3977| Cedar Rapids|        USA|      Iowa|    120758|
|3982|Coral Springs|        USA|   Florida|    117549|
+----+-------------+-----------+----------+----------+

## Revising the Select Query 2
**Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [9]:
city.select("NAME")\
    .filter((col("COUNTRYCODE")=='USA') & (col("POPULATION")>100000)).show()

+-------------+
|         NAME|
+-------------+
|      El Paso|
|   Scottsdale|
|       Corona|
|      Concord|
| Cedar Rapids|
|Coral Springs|
+-------------+

## Select All
**Query all columns (attributes) for every row in the CITY table.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [10]:
city.show()

+----+-----------------+-----------+-----------------+----------+
|  ID|             NAME|COUNTRYCODE|         DISTRICT|POPULATION|
+----+-----------------+-----------+-----------------+----------+
|   6|        Rotterdam|        NLD|     Zuid-Holland|     12312|
|  19|         Zaanstad|        NLD|    Noord-Holland|    135621|
| 214|     Porto Alegre|        BRA|Rio Grande do Sul|   1314032|
| 397| Lauro de Freitas|        BRA|            Bahia|    109236|
| 547|           Dobric|        BGR|            Varna|    100399|
| 552|        Bujumbura|        BDI|        Bujumbura|    300000|
| 554|Santiago de Chile|        CHL|         Santiago|   4703954|
| 626|         al-Minya|        EGY|         al-Minya|    201360|
| 646|        Santa Ana|        SLV|        Santa Ana|    139389|
| 762|            Bahir|        Dar|       ETH Amhara|     96140|
| 796|           Baguio|        PHL|              CAR|    252386|
| 896|         Malungon|        PHL|Southern Mindanao|     93232|
| 904|           Banjul|        GMB|           Banjul|     42326|
| 924|            Villa|      Nueva|              GTM|    101295|
| 990|             Waru|        IDN|        East Java|    124300|
|1155|            Latur|        IND|      Maharashtra|    197408|
|1222|           Tenali|        IND|   Andhra Pradesh|    143726|
|1235|      Tirunelveli|        IND|       Tamil Nadu|    135825|
|1256|          Alandur|        IND|       Tamil Nadu|    125244|
|1279|          Neyveli|        IND|       Tamil Nadu|    118080|
+----+-----------------+-----------+-----------------+----------+
only showing top 20 rows

## Select by Id

**Query all columns for a city in CITY with the ID 1661.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [11]:
city.filter(col("ID")=='1661').show()

+----+------+-----------+--------+----------+
|  ID|  NAME|COUNTRYCODE|DISTRICT|POPULATION|
+----+------+-----------+--------+----------+
|1661|Sayama|        JPN| Saitama|    162472|
+----+------+-----------+--------+----------+

## Japanese Citites Attributes

**Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [12]:
city.filter(col("COUNTRYCODE")=='JPN').show()

+----+--------+-----------+---------+----------+
|  ID|    NAME|COUNTRYCODE| DISTRICT|POPULATION|
+----+--------+-----------+---------+----------+
|1613|Neyagawa|        JPN|    Osaka|    257315|
|1630|    Ageo|        JPN|  Saitama|    209442|
|1661|  Sayama|        JPN|  Saitama|    162472|
|1681|   Omuta|        JPN|  Fukuoka|    142889|
|1739|Tokuyama|        JPN|Yamaguchi|    107078|
+----+--------+-----------+---------+----------+

## Japanese Citites Names

**Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.**

     +---+----------------+-----------+-----------------+----------+
     |ID |NAME            |COUNTRYCODE|DISTRICT         |POPULATION|
     +---+----------------+-----------+-----------------+----------+
     |6  |Rotterdam       |NLD        |Zuid-Holland     |12312     |
     |19 |Zaanstad        |NLD        |Noord-Holland    |135621    |
     |214|Porto Alegre    |BRA        |Rio Grande do Sul|1314032   |
     |397|Lauro de Freitas|BRA        |Bahia            |109236    |
     |547|Dobric          |BGR        |Varna            |100399    |
     +---+----------------+-----------+-----------------+----------+

In [13]:
city.select("Name")\
    .filter(col("COUNTRYCODE")=='JPN').show()

+--------+
|    Name|
+--------+
|Neyagawa|
|    Ageo|
|  Sayama|
|   Omuta|
|Tokuyama|
+--------+

## Weather Observation Station 1
**Query a list of CITY and STATE from the STATION table.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [14]:
station.select("city","state").show()

+--------------+-----+
|          city|state|
+--------------+-----+
|  Kissee Mills|   MO|
|      Loma Mar|   CA|
|    Sandy Hook|   CT|
|        Tipton|   IN|
|     Arlington|   CO|
|        Turner|   AR|
|       Slidell|   LA|
|       Negreet|   LA|
|       Glencoe|   KY|
|       Chelsea|   IA|
|Chignik Lagoon|   AK|
|   Pelahatchie|   MS|
|    Hanna City|   IL|
|      Dorrance|   KS|
|        Albany|   CA|
|      Monument|   KS|
|    Manchester|   MD|
|      Prescott|   IA|
|   Graettinger|   IA|
|        Cahone|   CO|
+--------------+-----+
only showing top 20 rows

## Weather Observation Station 3
**Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [15]:
city.select("name")\
    .filter(col("Id")%2 == 0).show()

+-----------------+
|             name|
+-----------------+
|        Rotterdam|
|     Porto Alegre|
|        Bujumbura|
|Santiago de Chile|
|         al-Minya|
|        Santa Ana|
|            Bahir|
|           Baguio|
|         Malungon|
|           Banjul|
|            Villa|
|             Waru|
|           Tenali|
|          Alandur|
|            Dehri|
|          Bolzano|
|           Cesena|
|             Ageo|
|        Changchun|
|           Dezhou|
+-----------------+
only showing top 20 rows

## Weather Observation Station 4
**Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.**


    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [16]:
result = station.agg(
                    count("CITY").alias("total_city"),\
                    countDistinct("CITY").alias("distinct_city")).collect()[0]

difference = result["total_city"] - result["distinct_city"]

print(difference)

13

## Weather Observation Station 5
**Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically**


    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [17]:
shortest = station.withColumn("len", length("CITY"))\
      .orderBy(col("len").asc(), col("CITY").asc())\
      .limit(1)

longest = station.withColumn("len", length("CITY"))\
            .orderBy(col("len").desc(), col("CITY").asc())\
            .limit(1)
shortest.show()
longest.show()

+---+----+-----+-----+------+---+
| Id|City|State|Lat_N|Long_W|len|
+---+----+-----+-----+------+---+
|384| Amo|   IN|  103|   159|  3|
+---+----+-----+-----+------+---+

+---+--------------------+-----+-----+------+---+
| Id|                City|State|Lat_N|Long_W|len|
+---+--------------------+-----+-----+------+---+
|566|Marine On  Saint ...|   MN|  126|  NULL| 23|
+---+--------------------+-----+-----+------+---+

## Weather Observation Station 6
**Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.**


    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [18]:
result = station.select("CITY")\
                .filter(col("CITY").rlike("^[AEIOUaeiou]"))\
                .distinct().show()

+-------------+
|         CITY|
+-------------+
|       Auburn|
|   East China|
|  Orange Park|
|Andersonville|
|    Elm Grove|
|   Union Star|
|  East Haddam|
|         Alba|
|     Eastlake|
|         Acme|
|       Albany|
|Atlantic Mine|
|      Aguanga|
|       Onaway|
|      Andover|
|       Emmett|
|      Algonac|
|        Ozona|
|     Amazonia|
|         Ojai|
+-------------+
only showing top 20 rows

## Weather Observation Station 7
**Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.**


    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [19]:
result = station.select("CITY")\
                .filter(col("CITY").rlike("[AEIOUaeiou]$"))\
                .distinct().show()

+-------------+
|         CITY|
+-------------+
|      Lismore|
|     Samantha|
|         Hope|
|    Wickliffe|
|   East China|
|       Monroe|
|Springerville|
|   Bainbridge|
|Grand Terrace|
|        Delta|
|Andersonville|
|    Elm Grove|
|       Gowrie|
|  Howard Lake|
|      Morenci|
|  Mid Florida|
|         Alba|
|      Gustine|
|  Pelahatchie|
|Corriganville|
+-------------+
only showing top 20 rows

## Weather Observation Station 8
**Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [20]:
result = station.select("CITY")\
                .filter(col("CITY").rlike("^[AEIOUaeiou].*[AEIOUaeiou]$"))\
                .distinct().show()

+-------------+
|         CITY|
+-------------+
|   East China|
|Andersonville|
|    Elm Grove|
|         Alba|
|     Eastlake|
|         Acme|
|Atlantic Mine|
|      Aguanga|
|        Ozona|
|     Amazonia|
|         Ojai|
|  Arkadelphia|
|       Arispe|
|       Archie|
|      Upperco|
|       Ermine|
|  East Irvine|
|     Eskridge|
|      Eufaula|
|      Oshtemo|
+-------------+
only showing top 20 rows

## Weather Observation Station 9
**Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [21]:
result = station.select("CITY")\
                .filter(~col("CITY").rlike("^[AEIOUaeiou]"))\
                .distinct().show()

+-------------+
|         CITY|
+-------------+
|        Tyler|
|      Jemison|
|       Grimes|
|      Lismore|
|     Samantha|
|      Hayfork|
|     Norphlet|
|   Wellington|
|     Napoleon|
|   West Hills|
|         Hope|
|     Hawarden|
|      Griffin|
|      Baldwin|
|    Wickliffe|
|Crescent City|
|       Monroe|
|         Dent|
|     Brighton|
|      Compton|
+-------------+
only showing top 20 rows

## Weather Observation Station 10
**Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [22]:
result = station.select("CITY")\
                .filter(~col("CITY").rlike("[AEIOUaeiou]$"))\
                .distinct().show()

+----------------+
|            CITY|
+----------------+
|           Tyler|
|         Jemison|
|          Grimes|
|         Hayfork|
|        Norphlet|
|          Auburn|
|      Wellington|
|        Napoleon|
|      West Hills|
|        Hawarden|
|         Griffin|
|         Baldwin|
|   Crescent City|
|            Dent|
|        Brighton|
|         Compton|
|         Gridley|
|         Calhoun|
|West Hyannisport|
|         Norvell|
+----------------+
only showing top 20 rows

## Weather Observation Station 11
**Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.**

    +---+------------+-----+-----+------+
    | Id|        City|State|Lat_N|Long_W|
    +---+------------+-----+-----+------+
    |794|Kissee Mills|   MO|  139|    73|
    |824|    Loma Mar|   CA|   48|   130|
    |603|  Sandy Hook|   CT|   72|   148|
    |478|      Tipton|   IN|   33|    97|
    |619|   Arlington|   CO|   75|    92|
    +---+------------+-----+-----+------+

In [23]:
result = station.select("CITY")\
                .filter(~col("CITY").rlike("^[AEIOUaeiou].*[AEIOUaeiou]$"))\
                .distinct().show()

+-------------+
|         CITY|
+-------------+
|        Tyler|
|      Jemison|
|       Grimes|
|      Lismore|
|     Samantha|
|      Hayfork|
|     Norphlet|
|       Auburn|
|   Wellington|
|     Napoleon|
|   West Hills|
|         Hope|
|     Hawarden|
|      Griffin|
|      Baldwin|
|    Wickliffe|
|Crescent City|
|       Monroe|
|         Dent|
|     Brighton|
+-------------+
only showing top 20 rows

## Weather Observation Station 12
Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

In [24]:
station.select("CITY") \
    .filter(
        (~col("CITY").rlike("^[AEIOUaeiou]")) &
        (~col("CITY").rlike("[AEIOUaeiou]$"))
    ) \
    .distinct() \
    .show()

+----------------+
|            CITY|
+----------------+
|           Tyler|
|         Jemison|
|          Grimes|
|         Hayfork|
|        Norphlet|
|      Wellington|
|        Napoleon|
|      West Hills|
|        Hawarden|
|         Griffin|
|         Baldwin|
|   Crescent City|
|            Dent|
|        Brighton|
|         Compton|
|         Gridley|
|         Calhoun|
|West Hyannisport|
|         Norvell|
|        Richland|
+----------------+
only showing top 20 rows

## Higher than 75 marks
Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [25]:
students_df.show()

+---+--------+-----+
| ID|    Name|Marks|
+---+--------+-----+
|  1|  Ashley|   81|
|  2|Samantha|   75|
|  4|   Julia|   76|
|  3|  Belvet|   84|
+---+--------+-----+

In [26]:
students_df \
    .filter(col("Marks") > 75) \
    .orderBy(
        expr("RIGHT(Name, 3)"),
        col("ID")
    ) \
    .select("Name") \
    .show()

+------+
|  Name|
+------+
|Ashley|
| Julia|
|Belvet|
+------+

## Employee Names
Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

In [27]:
employee_df.show()

+-----------+--------+------+------+
|employee_id|    name|months|salary|
+-----------+--------+------+------+
|      12228|    Rose|    15|  1968|
|      33645|  Angela|     1|  3443|
|      45692|   Frank|    17|  1608|
|      56118| Patrick|     7|  1345|
|      59725|    Lisa|    11|  2330|
|      74197|Kimberly|    16|  4372|
|      78454|  Bonnie|     8|  1771|
|      83565| Michael|     6|  2017|
|      98607|    Todd|     5|  3396|
|      99989|     Joe|     9|  3573|
+-----------+--------+------+------+

In [28]:
employee_df.select(col("Name")) \
           .orderBy(col("Name"))\
           .show()

+--------+
|    Name|
+--------+
|  Angela|
|  Bonnie|
|   Frank|
|     Joe|
|Kimberly|
|    Lisa|
| Michael|
| Patrick|
|    Rose|
|    Todd|
+--------+

## Employee Salaries
Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than  per month who have been employees for less than  months. Sort your result by ascending employee_id.

In [29]:
employee_df \
    .filter((col("salary") > 2000) & (col("months") < 10)) \
    .orderBy(col("employee_id").asc()) \
    .select("name") \
    .show()

+-------+
|   name|
+-------+
| Angela|
|Michael|
|   Todd|
|    Joe|
+-------+